table {
    
    width: 92.7%;
    margin-left: 20px;
    
    
}

tr.bar {
    width: 91%;
    display: flex;
    background-color: #005457;
    margin-bottom: -25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 13px;
    margin-left: -30px;

    
}


  td.conteiner_bar_nome {
    padding-left: 10px;
  }

  td.conteiner_bar_celular {
    padding-left: 153px;
  }

  td.conteiner_bar_cpf {
    padding-left: 38px;
  }

  td.conteiner_bar_email {
    padding-left: 94px;
  }

  td.conteiner_bar_endereco {
    padding-left: 104px;
  }

  td.conteiner_bar_cep {
    padding-left: 119px;
  }

  td.conteiner_bar_cidade {
    padding-left: 63px;
  }

  td.conteiner_bar_edit {
    padding-left: 96px;
  }

  td.conteiner_bar_remove {
    padding-left: 8px;
  }

